<tr>
  <td class="currency">{{currency}}</td>
  <td class="code" style="text-transform: uppercase;">{{link code}}</td>
  <td class="available"><div style="width: 110px;text-align: right; margin-left: -45px;">{{format_fix_bid available}}</div></td>
  <td class="locked"><div style="width: 110px;text-align: right; margin-left: -45px;">{{format_fix_bid locked}}</div></td>
  <td class="total"><div style="width: 110px;text-align: right; margin-left: -45px;">{{format_fix_bid total}}</div></td>
  <td class="est_btc"><div style="width: 110px;text-align: right; margin-left: -15px;">{{format_fix_bid est_btc}}</div></td>
</tr>
