<tr>
  <td class="market"><a href="#">{{market}}</a></td>
  <td class="currency">{{t currency}}</td>
  <td class="volume">{{{format_fix_bid volume}}}</td>
  <td class="change {{change_trend}}">{{change}}% <div class="{{change_trend}}-arrow" style="margin-right: 5px;"></div></td>
  <td class="last">{{{format_fix_bid last}}}</td>
  <td class="high">{{{format_fix_bid high}}}</td>
  <td class="low">{{{format_fix_bid low}}}</td>
</tr>

